@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'yota';
    src: url('/fonts/gith.ttf');
    font-weight: normal;
    font-style: normal;
  }
  
  @keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
  }

  body {
    font-family: 'yota';
    background-color: aliceblue;
    /* background-image: url('/images/oldbook.jpg'); */
    background-size: cover; /* Ensures the image covers the whole screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    background-attachment: fixed; /* Keeps the background fixed during scrolling */
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); /* Blurry shadow effect */

  }
  .element::-webkit-scrollbar {
    display: none;
  }
  /* globals.css */
@keyframes slide-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 0.5s ease-out;
}
